.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

mat-card {
    flex: 0 1 300px;
    margin-bottom: 16px;
}

.profile-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}